#skip-sponsor-button{
    height: 15px;
    color: white;
    padding: 11px;
    margin: 6px 10px;
    background: rgb(79, 79, 255);
    border-radius: 2px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;;
}

.pulse{
    animation: pulse-animation infinite 1s;
}

@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0 rgb(79, 79, 255, 0.7);
	}

	70% {
		box-shadow: 0 0 0 10px rgb(79, 79, 255, 0.2);
	}

	100% {
		box-shadow: 0 0 0 0 rgb(79, 79, 255, 0);
	}
}